# Python Test

In [16]:
# 1. (2, 3, 5)

In [17]:
# 2. (1, 2, 4)

In [18]:
# 3.

In [19]:
a, b = map(int, input().split())

2 10

In [20]:
a, b

(2, 10)

In [22]:
sum_odd = sum([i for i in range(a, b+1) if i % 2 == 1])

In [23]:
sum_odd

24

In [26]:
# 4.

In [27]:
rate = int(input())

5

In [28]:
rate/100

0.05

In [48]:
money = 1
future_money = 2*money
years = 0

while money <= future_money:
    money += money * (rate/100)
    years += 1

In [49]:
print(years)

15

In [50]:
# 5.

In [53]:
bts = ['RM', '진', '슈가', '제이홉', '지민', '뷔', '정국']

In [56]:
print(bts[5])

뷔

In [58]:
print(bts[0])

RM

In [59]:
print(bts[5:])

['뷔', '정국']

In [61]:
print(bts[2:5])

['슈가', '제이홉', '지민']

In [60]:
print(bts[::2])

['RM', '슈가', '지민', '정국']

In [62]:
# 6.

In [65]:
vegetables = dict(가지=800, 오이=600, 수박=15000, 호박=1000, 깻잎=500)

In [66]:
vegetables

{'가지': 800, '오이': 600, '수박': 15000, '호박': 1000, '깻잎': 500}

In [68]:
from operator import itemgetter

In [72]:
sort_veg = sorted(vegetables.items(), key=itemgetter(1), reverse=True)

In [73]:
sort_veg

[('수박', 15000), ('호박', 1000), ('가지', 800), ('오이', 600), ('깻잎', 500)]

In [74]:
for veg, price in sort_veg:
    print('{}:{:>7,}'.format(veg, price))

수박: 15,000
호박:  1,000
가지:    800
오이:    600
깻잎:    500

In [75]:
# 7.

In [78]:
palin = 0
for i in range(101, 999):
    for k in range(100, i):
        check = str(k*i)
        if check == check[::-1]:
            if k*i > palin:
                palin = k*i
                x = k
                y = i

In [82]:
print(palin, x, y)

906609 913 993

In [376]:
# 8.

In [377]:
import random

In [390]:
tiles = []
for _ in range(5):
    value = []
    for _ in range(5):
        value.append(random.randint(1, 4))
    tiles.append(value)

In [391]:
tiles

[[1, 3, 1, 2, 4],
 [1, 2, 3, 4, 3],
 [1, 1, 1, 1, 4],
 [1, 2, 2, 2, 4],
 [4, 2, 2, 3, 1]]

In [392]:
seq_idx_h = []
for r in range(len(tiles)):
    for c in range(len(tiles[0])-1):
        if tiles[r][c] == tiles[r][c+1]:
            seq_idx_h.append([r, c])

In [393]:
seq_idx_v = []
for r in range(len(tiles)-1):
    for c in range(len(tiles[0])):
        if tiles[r][c] == tiles[r+1][c]:
            seq_idx_v.append([r, c])

In [394]:
for i in range(len(seq_idx_h)-1):
    if seq_idx_h[i][0] == seq_idx_h[i+1][0]:
        if seq_idx_h[i][1]+1 == seq_idx_h[i+1][1]:
            tiles[seq_idx_h[i][0]][seq_idx_h[i][1]:seq_idx_h[i][1]+3] = ['*']*3

In [395]:
tiles

[[1, 3, 1, 2, 4],
 [1, 2, 3, 4, 3],
 ['*', '*', '*', '*', 4],
 [1, '*', '*', '*', 4],
 [4, 2, 2, 3, 1]]

In [396]:
for i in range(1, len(seq_idx_v)):
    for k in range(i):
        if seq_idx_v[k][1] == seq_idx_v[i][1]:
            if seq_idx_v[k][0]+1 == seq_idx_v[i][0]:
                tiles[seq_idx_v[k][0]][seq_idx_v[k][1]] = '*'
                tiles[seq_idx_v[k][0]+1][seq_idx_v[k][1]] = '*'
                tiles[seq_idx_v[k][0]+2][seq_idx_v[k][1]] = '*'

In [397]:
for i in tiles:
    for v in i:
        print(v, end=' ')
    print()

* 3 1 2 4
* 2 3 4 3
* * * * 4
* * * * 4
4 2 2 3 1

In [351]:
# 9.

In [352]:
a = [1,3,5,7,9]

In [355]:
b = list(map(lambda x: x**2, a))

In [356]:
b

[1, 9, 25, 49, 81]

In [ ]:
# 10.