In [ ]:
6. 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같다 (제곱의 합). 
		12 + 22 + ... + 102 = 385 
1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).
		(1 + 2 + ... + 10)2 = 552 = 3025 
따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 된다.
입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마인가?
'''

In [174]:
n = 10

In [168]:
s = [i*i for i in range(1, n+1)]

In [171]:
t = sum(range(1,n+1))

In [173]:
t**2

3025

In [177]:
print(sum(range(1, n+1))**2 - sum([i*i for i in range(1, n+1)]))

2640